@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import 'tailwindcss';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Your other CSS here */


:root {
  --fontfamily: 'Josefin', sans-serif;
}


body {
  box-sizing: border-box;
  font-family: var(--fontfamily);

  background-color: #6d28d9;
  color: #fff; 

}


html {
  scroll-behavior: smooth;
}


img {
  max-width: 100%;
  height: auto;
}


 @keyframes float {
          0%, 100% { transform: translateY(0) translateX(0); }
          50% { transform: translateY(-20px) translateX(10px); }
        }
        @keyframes float-delay {
          0%, 100% { transform: translateY(0) translateX(0); }
          50% { transform: translateY(15px) translateX(-10px); }
        }
        .animate-float { animation: float 12s ease-in-out infinite; }
        .animate-float-delay { animation: float-delay 15s ease-in-out infinite;
         }